.outer-square {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.inner-square {
    height: 190px;
    background-color: green;
}

.inner-circle {
    height: 190px;
    border-radius: 50%;
    background-color: blue;
}















